###Instalação do Pyarrow

In [ ]:
pip install pyarrow

###Importação das bibliotecas

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

###Derivados de Petróleo

In [2]:
# Carregamento do Dataframe Localmente em csv

dfppandas = pd.read_csv('/content/dataset_final_derivados.csv',sep=',')

In [3]:
# Conversão de csv para parquet

dfppandas.to_parquet('derivados_petrol.parquet')

In [4]:
# Carregamento do Dataframe Localmente em parquet

df = pd.read_parquet('/content/derivados_petrol.parquet')

In [5]:
# Visão geral da tabela

df

       2000-01-01  AC  Etanol Hidratado  m3    501.0  2022-09-10T00:00:00.000Z
0      2000-02-01  AC  Etanol Hidratado  m3  454.000  2022-09-10T00:00:00.000Z
1      2000-03-01  AC  Etanol Hidratado  m3  676.000  2022-09-10T00:00:00.000Z
2      2000-04-01  AC  Etanol Hidratado  m3  678.000  2022-09-10T00:00:00.000Z
3      2000-05-01  AC  Etanol Hidratado  m3    1.467  2022-09-10T00:00:00.000Z
4      2000-06-01  AC  Etanol Hidratado  m3  351.000  2022-09-10T00:00:00.000Z
...           ...  ..               ...  ..      ...                       ...
33824  2005-08-01  PA       Óleo Diesel  m3  123.215  2022-09-11T00:00:00.000Z
33825  2005-09-01  PA       Óleo Diesel  m3  118.913  2022-09-11T00:00:00.000Z
33826  2005-10-01  PA       Óleo Diesel  m3  117.334  2022-09-11T00:00:00.000Z
33827  2005-11-01  PA       Óleo Diesel  m3  117.020  2022-09-11T00:00:00.000Z
33828  2005-12-01  PA       Óleo Diesel  m3  114.559     2022-09-11T00:00:00.0

[33829 rows x 6 columns]

###Diesel

In [6]:
# Carregamento do Dataframe Localmente em csv

dfdpandas = pd.read_csv('/content/diesel.csv',sep=',')

In [7]:
# Conversão de csv para parquet

dfdpandas.to_parquet('diesel.parquet')

In [8]:
# Carregamento do Dataframe Localmente em parquet

dfd = pd.read_parquet('/content/derivados_petrol.parquet')

In [9]:
# Visão geral da tabela

dfd

       2000-01-01  AC  Etanol Hidratado  m3    501.0  2022-09-10T00:00:00.000Z
0      2000-02-01  AC  Etanol Hidratado  m3  454.000  2022-09-10T00:00:00.000Z
1      2000-03-01  AC  Etanol Hidratado  m3  676.000  2022-09-10T00:00:00.000Z
2      2000-04-01  AC  Etanol Hidratado  m3  678.000  2022-09-10T00:00:00.000Z
3      2000-05-01  AC  Etanol Hidratado  m3    1.467  2022-09-10T00:00:00.000Z
4      2000-06-01  AC  Etanol Hidratado  m3  351.000  2022-09-10T00:00:00.000Z
...           ...  ..               ...  ..      ...                       ...
33824  2005-08-01  PA       Óleo Diesel  m3  123.215  2022-09-11T00:00:00.000Z
33825  2005-09-01  PA       Óleo Diesel  m3  118.913  2022-09-11T00:00:00.000Z
33826  2005-10-01  PA       Óleo Diesel  m3  117.334  2022-09-11T00:00:00.000Z
33827  2005-11-01  PA       Óleo Diesel  m3  117.020  2022-09-11T00:00:00.000Z
33828  2005-12-01  PA       Óleo Diesel  m3  114.559     2022-09-11T00:00:00.0

[33829 rows x 6 columns]