###Instalação do Pyarrow

In [ ]:
pip install pyarrow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (6.0.1)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.7/dist-packages (from pyarrow) (1.21.6)

###Importação das bibliotecas

In [ ]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

###Derivados de Petróleo

In [ ]:
# Carregamento do Dataframe Localmente em csv

dfppandas = pd.read_csv('/content/dataset_final_derivados.csv',sep=',')

In [ ]:
# Visão geral da tabela em csv

dfppandas

,ano_mês,uf,produto,unid,volume,criado_em
0,2000-01-01,AC,Etanol Hidratado,m3,501.000,2022-09-10T00:00:00.000Z
1,2000-02-01,AC,Etanol Hidratado,m3,454.000,2022-09-10T00:00:00.000Z
2,2000-03-01,AC,Etanol Hidratado,m3,676.000,2022-09-10T00:00:00.000Z
3,2000-04-01,AC,Etanol Hidratado,m3,678.000,2022-09-10T00:00:00.000Z
4,2000-05-01,AC,Etanol Hidratado,m3,1.467,2022-09-10T00:00:00.000Z
...,...,...,...,...,...,...
46725,2021-07-01,BA,Querosene Iluminante,m3,5.000,2022-09-11T00:00:00.000Z
46726,2022-02-01,BA,Querosene Iluminante,m3,46.000,2022-09-11T00:00:00.000Z
46727,2022-03-01,BA,Querosene Iluminante,m3,168.000,2022-09-11T00:00:00.000Z
46728,2022-05-01,BA,Querosene Iluminante,m3,350.000,2022-09-11T00:00:00.000Z
46729,2022-06-01,BA,Querosene Iluminante,m3,413.000,2022-09-11T00:00:00.000Z

In [ ]:
# Conversão de csv para parquet

dfppandas.to_parquet('derivados_petrol.parquet')

In [ ]:
# Carregamento do Dataframe Localmente em parquet

df = pd.read_parquet('/content/derivados_petrol.parquet')

In [ ]:
# Visão geral da tabela

df

,ano_mês,uf,produto,unid,volume,criado_em
0,2000-01-01,AC,Etanol Hidratado,m3,501.000,2022-09-10T00:00:00.000Z
1,2000-02-01,AC,Etanol Hidratado,m3,454.000,2022-09-10T00:00:00.000Z
2,2000-03-01,AC,Etanol Hidratado,m3,676.000,2022-09-10T00:00:00.000Z
3,2000-04-01,AC,Etanol Hidratado,m3,678.000,2022-09-10T00:00:00.000Z
4,2000-05-01,AC,Etanol Hidratado,m3,1.467,2022-09-10T00:00:00.000Z
...,...,...,...,...,...,...
46725,2021-07-01,BA,Querosene Iluminante,m3,5.000,2022-09-11T00:00:00.000Z
46726,2022-02-01,BA,Querosene Iluminante,m3,46.000,2022-09-11T00:00:00.000Z
46727,2022-03-01,BA,Querosene Iluminante,m3,168.000,2022-09-11T00:00:00.000Z
46728,2022-05-01,BA,Querosene Iluminante,m3,350.000,2022-09-11T00:00:00.000Z
46729,2022-06-01,BA,Querosene Iluminante,m3,413.000,2022-09-11T00:00:00.000Z