## Instalação do Pandera

In [1]:
pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 5.1 MB/s
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.8.0-py3-none-any.whl (8.7 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.1.1)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pydantic in /usr/local/lib/python3.7/dist-packages (from pandera) (1.9.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 typing-inspect-0.8.0

##Instalação PySpark

In [2]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 49 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 46.8 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=539eeaf4702b026541539cc18fe9b4b70722e07dd13bbdf43a0d2d55097096d9
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

##IMPORTAÇÃO DAS BIBLIOTECAS PANDAS, PANDERA, PYSPARK E FERRAMENTAS

In [3]:
import pandas as pd
import pandera as pa

from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import*

# Datasets

##Etanol Hidratado

In [ ]:
# Carregamento do Dataframe Localmente

dfeh = pd.read_csv('/content/dataset_etanol_hidratado.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',7500)

In [ ]:
# Visão geral do dataset

dfeh

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
# Convertendo as variãveis necessarias para string

dfeh['ano'] = dfeh['ano'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfeh.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfeh_pandas = dfeh.copy()

##Gasolina de Aviação

In [ ]:
# Carregamento do Dataframe Localmente

dfga = pd.read_csv('/content/dataset_gasolina_aviacao.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Visão geral do dataset

dfga

      ano_mês  uf              produto unid volume   criado_em  ano
0     2000-01  AC  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
1     2000-02  AC  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
2     2000-03  AC  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
3     2000-04  AC  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
4     2000-05  AC  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
...       ...  ..                  ...  ...    ...         ...  ...
7435  2022-08  AM  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
7436  2022-09  AM  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
7437  2022-10  AM  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
7438  2022-11  AM  Gasolina de Aviação   m3    NaN  2022-09-10  NaN
7439  2022-12  AM  Gasolina de Aviação   m3    NaN  2022-09-10  NaN

[7440 rows x 7 columns]

In [ ]:
# Convertendo as variãveis necessarias para string

dfga['ano'] = dfga['ano'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfga.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfga_pandas = dfga.copy()

##Gasolina C

In [ ]:
# Carregamento do Dataframe Localmente

dfgc = pd.read_csv('/content/dataset_etanol_hidratado.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Visão geral do dataset

dfgc

      ano_mês  uf           produto unid volume   criado_em  ano
0     2000-01  AC  etanol hidratado   m3  501.0  2022-09-10  NaN
1     2000-02  AC  etanol hidratado   m3  454.0  2022-09-10  NaN
2     2000-03  AC  etanol hidratado   m3  676.0  2022-09-10  NaN
3     2000-04  AC  etanol hidratado   m3  678.0  2022-09-10  NaN
4     2000-05  AC  etanol hidratado   m3  1.467  2022-09-10  NaN
...       ...  ..               ...  ...    ...         ...  ...
7447  2022-08  AM  etanol hidratado   m3    NaN  2022-09-10  NaN
7448  2022-09  AM  etanol hidratado   m3    NaN  2022-09-10  NaN
7449  2022-10  AM  etanol hidratado   m3    NaN  2022-09-10  NaN
7450  2022-11  AM  etanol hidratado   m3    NaN  2022-09-10  NaN
7451  2022-12  AM  etanol hidratado   m3    NaN  2022-09-10  NaN

[7452 rows x 7 columns]

In [ ]:
# Convertendo as variãveis necessarias para string

dfgc['ano'] = dfgc['ano'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfgc.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfgc_pandas = dfgc.copy()

##GLP

In [ ]:
# Carregamento do Dataframe Localmente

dfglp = pd.read_csv('/content/dataset_glp.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Visão geral do dataset

dfglp

      ano_mês  uf produto unid  volume   criado_em  ano
0     2000-01  AC     GLP   m3   1.959  2022-09-10  NaN
1     2000-02  AC     GLP   m3   2.216  2022-09-10  NaN
2     2000-03  AC     GLP   m3   2.305  2022-09-10  NaN
3     2000-04  AC     GLP   m3   2.190  2022-09-10  NaN
4     2000-05  AC     GLP   m3   2.267  2022-09-10  NaN
...       ...  ..     ...  ...     ...         ...  ...
7435  2022-08  AM     GLP   m3     NaN  2022-09-10  NaN
7436  2022-09  AM     GLP   m3     NaN  2022-09-10  NaN
7437  2022-10  AM     GLP   m3     NaN  2022-09-10  NaN
7438  2022-11  AM     GLP   m3     NaN  2022-09-10  NaN
7439  2022-12  AM     GLP   m3     NaN  2022-09-10  NaN

[7440 rows x 7 columns]

In [ ]:
# Convertendo as variaveis necessárias para string

dfglp['ano'] = dfglp['ano'].astype(str)
dfglp['volume'] = dfglp['volume'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfglp.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfglp_pandas = dfglp.copy()

##Óleo Combustível

In [ ]:
# Carregamento do Dataframe Localmente

dfoc = pd.read_csv('/content/dataset_oleo_combustivel.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Visão geral do dataset

dfoc

      ano_mês  uf           produto unid    volume   criado_em  ano
0     2003-01  AC  Óleo Combustível   m3    NaN     2022-09-10  NaN
1     2003-02  AC  Óleo Combustível   m3    NaN     2022-09-10  NaN
2     2003-03  AC  Óleo Combustível   m3      169   2022-09-10  NaN
3     2003-04  AC  Óleo Combustível   m3    NaN     2022-09-10  NaN
4     2003-05  AC  Óleo Combustível   m3    NaN     2022-09-10  NaN
...       ...  ..               ...  ...       ...         ...  ...
6859  2022-08  AM  Óleo Combustível   m3       NaN  2022-09-10  NaN
6860  2022-09  AM  Óleo Combustível   m3       NaN  2022-09-10  NaN
6861  2022-10  AM  Óleo Combustível   m3       NaN  2022-09-10  NaN
6862  2022-11  AM  Óleo Combustível   m3       NaN  2022-09-10  NaN
6863  2022-12  AM  Óleo Combustível   m3       NaN  2022-09-10  NaN

[6864 rows x 7 columns]

In [ ]:
# Convertendo as variáveis necessárias para string

dfoc['ano'] = dfoc['ano'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfoc.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfoc_pandas = dfoc.copy()

##Óleo Diesel

In [ ]:
# Carregamento do Dataframe Localmente

dfod = pd.read_csv('/content/dataset_oleo_diesel.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Replace da coluna criado_em

dfod['criado_em'] = dfod['criado_em'].apply(lambda x: x.replace('2022-09-10', '2022-09-11'))

In [ ]:
# Convertendo as variáveis necessárias para string

dfod['ano'] = dfod['ano'].astype(str)
dfod['volume'] = dfod['volume'].astype(str)

In [ ]:
# Visão geral do dataset

dfod

In [ ]:
# Verificando os tipos das colunas

dfod.dtypes

In [ ]:
# Backup

dfod_pandas = dfod.copy()

##Querosene de Aviação

In [ ]:
# Carregamento do Dataframe Localmente

dfqa = pd.read_csv('/content/dataset_querosene_aviacao.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Visão geral do dataset

dfqa

      ano_mês  uf               produto unid   volume   criado_em  ano
0     2000-01  AC  Querosene de Aviação   m3    1.155  2022-09-10  NaN
1     2000-02  AC  Querosene de Aviação   m3    1.251  2022-09-10  NaN
2     2000-03  AC  Querosene de Aviação   m3  813.000  2022-09-10  NaN
3     2000-04  AC  Querosene de Aviação   m3  702.000  2022-09-10  NaN
4     2000-05  AC  Querosene de Aviação   m3  964.000  2022-09-10  NaN
...       ...  ..                   ...  ...      ...         ...  ...
7435  2022-08  AM  Querosene de Aviação   m3      NaN  2022-09-10  NaN
7436  2022-09  AM  Querosene de Aviação   m3      NaN  2022-09-10  NaN
7437  2022-10  AM  Querosene de Aviação   m3      NaN  2022-09-10  NaN
7438  2022-11  AM  Querosene de Aviação   m3      NaN  2022-09-10  NaN
7439  2022-12  AM  Querosene de Aviação   m3      NaN  2022-09-10  NaN

[7440 rows x 7 columns]

In [ ]:
# Convertendo as variáveis necessárias para string

dfqa['ano'] = dfqa['ano'].astype(str)
dfqa['volume'] = dfqa['volume'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfqa.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfqa_pandas = dfqa.copy()

##Querosene Iluminante

In [ ]:
# Carregamento do Dataframe Localmente

dfqi = pd.read_csv('/content/dataset_querosene_iluminante.csv',sep=',')

In [ ]:
# Configurando a quantidade de linhas máximas mostradas em tela

pd.set_option('display.max_columns',1000)
pd.set_option('display.max_rows',1000)

In [ ]:
# Replace da coluna criado_em

dfqi['criado_em'] = dfqi['criado_em'].apply(lambda x: x.replace('2022-09-10', '2022-09-11'))

In [ ]:
# Visão geral do dataset

dfqi

      ano_mês  uf               produto unid volume   criado_em  ano
0     2000-01  SP  Querosene Iluminante   m3    NaN  2022-09-11  NaN
1     2000-02  SP  Querosene Iluminante   m3    NaN  2022-09-11  NaN
2     2000-03  SP  Querosene Iluminante   m3    NaN  2022-09-11  NaN
3     2000-04  SP  Querosene Iluminante   m3    NaN  2022-09-11  NaN
4     2000-05  SP  Querosene Iluminante   m3    NaN  2022-09-11  NaN
...       ...  ..                   ...  ...    ...         ...  ...
4243  2022-08  BA  Querosene Iluminante   m3    NaN  2022-09-11  NaN
4244  2022-09  BA  Querosene Iluminante   m3    NaN  2022-09-11  NaN
4245  2022-10  BA  Querosene Iluminante   m3    NaN  2022-09-11  NaN
4246  2022-11  BA  Querosene Iluminante   m3    NaN  2022-09-11  NaN
4247  2022-12  BA  Querosene Iluminante   m3    NaN  2022-09-11  NaN

[4248 rows x 7 columns]

In [ ]:
# Convertendo as variáveis necessárias para string

dfqi['ano'] = dfqi['ano'].astype(str)

In [ ]:
# Verificando os tipos das colunas

dfqi.dtypes

ano_mês      object
uf           object
produto      object
unid         object
volume       object
criado_em    object
ano          object
dtype: object

In [ ]:
# Backup

dfqi_pandas = dfqi.copy()

## CONCATENAÇÃO DE DATASETS

In [ ]:
teste = pd.merge(dfeh_pandas, dfga_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfgc_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfglp_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfoc_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfod_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfqa_pandas, how = 'outer')

In [ ]:
teste = pd.merge(teste, dfqi_pandas, how = 'outer')

In [ ]:
# Arquivo foi salvo em formato csv sem o index

teste.to_csv('dataset_derivados_pandas.csv', index=False)

# Analise do Dataset Final e Tratamento com PySpark

In [13]:
# Carregamento do Dataframe Localmente

dfddpandas = pd.read_csv('/content/dataset_derivados_pandas.csv',sep=',')

In [14]:
# Análise dos dados da coluna volume
listavolume = []

for i in dfddpandas['volume']:
  listavolume.append(i)

In [ ]:
listavolume

In [16]:
# Construção do Sparksession
spark = ( 
    SparkSession.builder
                .master("local")
                .appName("dataset_derivados_pandas")
                .config("spark.ui.port", "4050")
                .getOrCreate() 
        )

In [17]:
# StructType
esquema = (
    StructType([
        
        StructField('ano_mês', DateType()),
        StructField('uf', StringType()),
        StructField('produto', StringType()),
        StructField('unid', StringType()),
        StructField('volume', DoubleType()),
        StructField('criado_em', TimestampType())
                
    ]))

In [18]:
# Ao final do arquivo csv, foi adicionado o schema do dataframe construído no StructType

dfddp = ( spark.read.format("csv")
                  .option("header", "true")
                  .option("inferschema", "true")
                  .option("delimiter", ",")
                  .load('/content/dataset_derivados_pandas.csv', schema = esquema)
)

In [ ]:
# Análise dos tipos das colunas

dfddp.printSchema()

In [ ]:
# Criando a lista de Colunas Novas

colunasNovas = []

for i in dfddp.columns:
  colunasNovas.append(i)
  print(i)

In [ ]:
# Verificando inconsistencias por valores unicos no topo e final das colunas

for i in range(len(colunasNovas)):
  dfddp.select(F.col(colunasNovas[i])).distinct().orderBy(colunasNovas[i], ascending=True).show(10)

In [ ]:
# Verificando inconsistencias por valores unicos no topo e final das colunas

for i in range(len(colunasNovas)):
  dfddp.select(F.col(colunasNovas[i])).distinct().orderBy(colunasNovas[i], ascending=False).show(10)

In [23]:
# Tratamento de inconsistencias na coluna volume

dfddp = dfddp.replace(str('nan'), None)

In [24]:
dfddp = dfddp.replace(str('null'), None)

In [25]:
# Eliminando todos os na

dfddp=dfddp.dropna()

In [26]:
# Contagem das inconsistencias

dfddp.where(F.col('volume').isNull()).count()

0

In [ ]:
dfddp.show()

In [ ]:
dfddp.dtypes

In [30]:
# Salvar o dataset em 
dfddp.write.csv('dataset_derivados_anp.csv')

# Tratamento do Dataset referente ao Diesel

In [36]:
# Carregamento do Dataframe Localmente

dfdieselpandas = pd.read_csv('/content/dataset_oleo_diesel.csv',sep=',')

In [41]:
# Análise dos dados da coluna volume

listavolumed = []

for i in dfdieselpandas['volume']:
  listavolumed.append(i)

In [ ]:
listavolumed

In [43]:
# Construção do Sparksession
spark = ( 
    SparkSession.builder
                .master("local")
                .appName("dataset_diesel_pandas")
                .config("spark.ui.port", "4050")
                .getOrCreate() 
        )

In [44]:
# StructType
esquema = (
    StructType([
        
        StructField('ano_mês', DateType()),
        StructField('uf', StringType()),
        StructField('produto', StringType()),
        StructField('unid', StringType()),
        StructField('volume', DoubleType()),
        StructField('criado_em', TimestampType())
                
    ]))

In [45]:
# Ao final do arquivo csv, foi adicionado o schema do dataframe construído no StructType

dfdiesel = ( spark.read.format("csv")
                  .option("header", "true")
                  .option("inferschema", "true")
                  .option("delimiter", ",")
                  .load('/content/dataset_oleo_diesel.csv', schema = esquema)
)

In [ ]:
# Análise dos tipos das colunas

dfdiesel.printSchema()

In [47]:
# Criando a lista de Colunas Novas

colunasNovas = []

for i in dfdiesel.columns:
  colunasNovas.append(i)
  print(i)

ano_mês
uf
produto
unid
volume
criado_em

In [ ]:
# Verificando inconsistencias por valores unicos no topo e final das colunas

for i in range(len(colunasNovas)):
  dfdiesel.select(F.col(colunasNovas[i])).distinct().orderBy(colunasNovas[i], ascending=True).show(10)

In [49]:
# Verificando inconsistencias por valores unicos no topo e final das colunas

for i in range(len(colunasNovas)):
  dfdiesel.select(F.col(colunasNovas[i])).distinct().orderBy(colunasNovas[i], ascending=False).show(10)

+----------+
|   ano_mês|
+----------+
|2022-12-01|
|2022-11-01|
|2022-10-01|
|2022-09-01|
|2022-08-01|
|2022-07-01|
|2022-06-01|
|2022-05-01|
|2022-04-01|
|2022-03-01|
+----------+
only showing top 10 rows

+---+
| uf|
+---+
| TO|
| SP|
| SE|
| SC|
| RS|
| RR|
| RO|
| RN|
| RJ|
| PR|
+---+
only showing top 10 rows

+-----------+
|    produto|
+-----------+
|Óleo Diesel|
+-----------+

+----+
|unid|
+----+
|  m3|
+----+

+-------+
| volume|
+-------+
|997.923|
|997.848|
|997.237|
|992.246|
|989.328|
|986.825|
|985.268|
| 982.66|
| 982.12|
|977.727|
+-------+
only showing top 10 rows

+-------------------+
|          criado_em|
+-------------------+
|2022-09-11 00:00:00|
+-------------------+

In [55]:
# Contagem das inconsistencias

dfdiesel.where(F.col('volume').isNull()).count()

0

In [50]:
# Tratamento de inconsistencias na coluna volume

dfdiesel = dfdiesel.replace(str('nan'), None)

In [51]:
dfdiesel = dfdiesel.replace(str('null'), None)

In [54]:
# Eliminando todos os na

dfdiesel=dfdiesel.dropna()

In [56]:
dfdiesel.show()

+----------+---+-----------+----+------+-------------------+
|   ano_mês| uf|    produto|unid|volume|          criado_em|
+----------+---+-----------+----+------+-------------------+
|2000-01-01| AC|Óleo Diesel|  m3|18.025|2022-09-11 00:00:00|
|2000-02-01| AC|Óleo Diesel|  m3|18.336|2022-09-11 00:00:00|
|2000-03-01| AC|Óleo Diesel|  m3|16.654|2022-09-11 00:00:00|
|2000-04-01| AC|Óleo Diesel|  m3|15.146|2022-09-11 00:00:00|
|2000-05-01| AC|Óleo Diesel|  m3|18.681|2022-09-11 00:00:00|
|2000-06-01| AC|Óleo Diesel|  m3|17.949|2022-09-11 00:00:00|
|2000-07-01| AC|Óleo Diesel|  m3|17.466|2022-09-11 00:00:00|
|2000-08-01| AC|Óleo Diesel|  m3|19.174|2022-09-11 00:00:00|
|2000-09-01| AC|Óleo Diesel|  m3|19.505|2022-09-11 00:00:00|
|2000-10-01| AC|Óleo Diesel|  m3| 19.96|2022-09-11 00:00:00|
|2000-11-01| AC|Óleo Diesel|  m3|19.349|2022-09-11 00:00:00|
|2000-12-01| AC|Óleo Diesel|  m3|18.796|2022-09-11 00:00:00|
|2001-01-01| AC|Óleo Diesel|  m3|20.061|2022-09-11 00:00:00|
|2001-02-01| AC|Óleo Diesel|  m3|16.449|2022-09-11 00:00:00|
|2001-03-01| AC|Óleo Diesel|  m3|20.859|2022-09-11 00:00:00|
|2001-04-01| AC|Óleo Diesel|  m3|17.388|2022-09-11 00:00:00|
|2001-05-01| AC|Óleo Diesel|  m3|20.052|2022-09-11 00:00:00|
|2001-06-01| AC|Óleo Diesel|  m3|18.046|2022-09-11 00:00:00|
|2001-07-01| AC|Óleo Diesel|  m3|19.756|2022-09-11 00:00:00|
|2001-08-01| AC|Óleo Diesel|  m3|21.717|2022-09-11 00:00:00|
+----------+---+-----------+----+------+-------------------+
only showing top 20 rows

In [57]:
# Salvando arquivo em csv

dfdiesel.write.csv('diesel.csv')